<div class="footer-form lazy" data-bg="url(/img/form-bg.png)">
    <div class="container">
        <div class="footer-form__wrap clearfix">
            <div class="footer-form__left">
                <p class="footer-form__left__title">заявка на просчет</p>
                <p class="footer-form__left__descr"><a
                            href="{{ whatsapp_link }}"
                            target="_blank"
                            class="whatsapppop">Отправьте нам</a> заявку с фото и получите просчет фиксированной стоимости ремонта вашего авто
                </p>
            </div>
            <div class="footer-form__right">
                <form method="post" action="{{ path('mail.callback_consultation') }}">
                    <div class="input-block"><input type="tel" class="phone" name="phone" placeholder="Ваш телефон"
                                                    required="" im-insert="true">
                        <p class="error-input"></p></div>

                    <div class="input-block">
                        <select class="dropdown" name="location">
                            <option value="0" selected="">Выберите Центр</option>
                            <option value="lobn">На Лобненской</option>
                            <option value="udal">На Удальцова</option>
                            <option value="sev">На Севастопольском</option>
                        </select>
                        <p class="error-input"></p>
                    </div>
                    <input type="hidden" name="subject" value="Запись на сервис в техцентр «ДетейлингофЪ»">
                    <div class="footer-form__right__button">
                        <button type="submit" value="Отправить заявку" class="callback_submit">Отправить заявку</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>