<div class="service-price row">
    <div class="Box col-md-3 col-lg-2">
        <div class="kira-theme4__table1__icon">
            <span>Средняя стоимость услуги для {{ brand_model_name }}</span>
        </div>
        <div class="cena">
            <span>{{ price_service.price }}</span>
            <span> руб</span>
        </div>
    </div>

    <div class="Box col-md-3 col-lg-2">
        <div class="kira-theme4__table1__icon">
            <span>Ориентировочное время ремонта для {{ brand_model_name }}</span>
        </div>
        <div class="cena">
            <span>{{ price_service.hours }}</span>
            <span> часа</span>
        </div>
    </div>

</div>