.shadow-btm {
    -webkit-box-shadow: 0 5px 10px 0 rgba(221, 221, 221, 0.75);
    box-shadow: 0 5px 10px 0 rgba(221, 221, 221, 0.75);
}
.advantages {
    padding: 30px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.advantages__item {
    width: 100%;
    max-width: 375px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.advantages__item__part {
    margin-right: 30px;
    max-width: 275px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    .green-block {
        width: 68px;
        height: 60px;
        text-align: center;
        background: #77c938;
        position: relative;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    }
}

.advantages__item__part:last-child {
    margin-right: 0;
}

.advantages__item__part__title {
    font-family: "Proxima Nova Black";
    font-size: 22px;
}

.advantages__item__part__text {
    font-size: 15px;
    font-familt: "Proxima Nova Lt";
}

@media only screen and (max-width: 1150px) {
    .advantages__item {
        max-width: 300px;
        text-align: center;
    }
    .advantages__item__part {
        margin: 0 auto;
    }
    .advantages__item__part:last-child {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 900px) {
    .advantages__item {
        max-width: 267px;
    }
}

@media only screen and (max-width: 800px) {
    .advantages {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .advantages__item {
        max-width: 300px;
        margin-bottom: 25px;
    }
}



