div.content_iiidfhvdsf table {
    width: 100%;
    margin: 15px 0;
}
div.content_iiidfhvdsf table td {
    border-bottom: 1px dashed;
    padding: 5px;
    text-align: center;
    /* text-align: left; */
    width: 200px;
}
div.content_iiidfhvdsf table td:first-child {
    text-align: left;
}
div.mega_contentt_blockksd h2, div.mega_contentt_blockksd h3, div.mega_contentt_blockksd h4 {
    color: #3A5666;
    font-size: 19px;
    font-weight: normal;
    margin: 10px 0;
}