.footer {
  &__top {
    background: #292929;
    margin: 0 auto 0 auto;
    padding: 20px;

    a:hover {
      color: #DBBB9D;
      text-decoration: none;
    }
  }
  &__left-col {
    font-size: 14px;
    font-weight: bold;
    li {
      margin-bottom: 8px;
      color: #fff;
      a {
        color: #fff;
      }
    }
  }
  &__right-col {
    .phone_footer {
      color: #ffaa00;
      display: block;
      font-size: 24px;
      line-height: 15px;
      margin-top: -3px;
      text-align: right;
      @include respond-below(xs) {
        text-align: left;
      }
      small {
        font-size: 11px;
        color: #fff;
        line-height: 20px;
        margin-top: 2px;
      }
    }
    .address_footer {
      color: #ede8d4;
      display: block;
      margin-bottom: 20px;
      margin-top: 5px;
      text-align: right;
      @include respond-below(xs) {
        text-align: left;
      }
    }
  }
  &__bottom {
    background: #292929;
    margin: 0 auto;
    padding: 0 20px;
    .copyright {
      color: #fff;
      display: block;
      font-size: 16px;
      line-height: 30px;
      a {
        color: #f4af38;
      }
    }
    .counter {
      padding-top: 10px;
    }
  }
}
