<footer class="page-footer">
    <div class="uk-section-xsmall uk-container d-flex justify-content-center">
        <img src="{{ asset('img/footer-logo.png') }}" alt="Styled.cc"/>
    </div>
    {#<div class="btn-fixed">
        <a class="calc-btn" href="{{ path('calculator') }}">
            <img src="/assets/images/icons/calc.png" alt="Калькулятор"/>
            Калькулятор
        </a>
        <a class="repairs-btn js-popup-trigger" href="#">
            <span data-uk-icon="cog"></span>
            Записаться на ремонт
        </a>
    </div>#}


</footer>
{{ offcanvas(page ?? null) }}