<footer class="page-footer">
    <div class="uk-section-xsmall uk-container"><span>© 2003-2020 "ДетейлингофЪ". <a
                    href="/body_works/">Кузовной ремонт</a>, <a
                    href="/paint/">Покраска автомобилей</a>, <a
                    href="/detailing/">Детейлинг</a>, <a href="/sitemap/">Карта сайта.</a></span>
    </div>
    <div class="btn-fixed">
        <a class="calc-btn" href="{{ path('calculator') }}">
            <img src="/assets/images/icons/calc.png" alt="Калькулятор"/>
            Калькулятор
        </a>
        <a class="repairs-btn js-popup-trigger" href="#">
            <span data-uk-icon="cog"></span>
            Записаться на ремонт
        </a>
    </div>
    <!--
    <div class="social-block">
        <div class="social-block__title"><span>мы в соцсетях</span></div>
        <div class="social-block__list">
            <ul>
                <li><a href="http://facebook.com/" target="_blank"><img src="/assets/images/icons/social-1.png"
                                                                        alt="social"/></a></li>
                <li><a href="http://youtube.com/" target="_blank"><img src="/assets/images/icons/social-2.png"
                                                                       alt="social"/></a></li>
                <li><a href="http://vk.com/" target="_blank"><img src="/assets/images/icons/social-3.png" alt="social"/></a>
                </li>
            </ul>
        </div>
    </div>-->
</footer>
{{ offcanvas(page ?? null) }}