<section id="breadcrumbs">
    <div class="breadcrumbs_wrapper">
        {% for item in items %}
            {% if loop.last %}
                <span>{{ item.name }}</span>
            {% else %}
                <span>
                <a href="{{ item.path }}">{{ item.name }}</a>
            </span>
                <span>&#8646;</span>
            {% endif %}
        {% endfor %}
    </div>
    {{ include('v2/blocks/section/rating_schema.html.twig',{ page: page ?? null }) }}
</section>