{% extends 'base.html.twig' %}

{% block body %}
    {% embed 'blocks/embed/_content_wrapper.html.twig' %}
        {% block content %}
            <div class="date">{{ item.date|date("d.m.Y") }}</div>
                <h2>{{ item.name }}</h2>
            <div>Вопрос: <p>{{ item.text|raw  }}</p></div>
            <br>
            <div>Ответ: {{ item.otvetAdmin|raw }}</div>
        {% endblock %}
    {% endembed %}
{% endblock %}
