.faq-item {
  margin: 20px auto;

  &__header {
    margin-bottom: 10px;

    a {
      color: #406840;
      font-size: 16px;
      font-weight: bold;
    }
  }

  &__go_full {
    margin-top: 3px;
    text-align: right;

    a {
      color: #975E3D;
      font-size: 15px;
      text-decoration: none;
      border-bottom: 1px dotted;
    }
  }
}