<div class="shadow-btm">
    <div class="advantages">

        <div class="advantages__item popup-trigger">
            <div class="advantages__item__part">
                <div class="green-block"><img {{ lazy_load(asset('img/group.png')) }} alt=""></div>
            </div>
            <div class="advantages__item__part">
                <div class="advantages__item__part__title">
                    8 клиентов из 10
                </div>
                <div class="advantages__item__part__text">
                    Приходят в наш сервис по рекомендации других людей
                </div>
            </div>
        </div>
        <div class="advantages__item popup-trigger">
            <div class="advantages__item__part">
                <div class="green-block"><img {{ lazy_load(asset('img/pig.png')) }} alt=""></div>
            </div>
            <div class="advantages__item__part">
                <div class="advantages__item__part__title">
                    на 30% дешевле
                </div>
                <div class="advantages__item__part__text">
                    Стоимость работ, чем у официального дилера{{ page.brandName ? ' '~page.brandName }}, при том же качестве
                </div>
            </div>
        </div>
        <div class="advantages__item popup-trigger">
            <div class="advantages__item__part">
                <div class="green-block"><img {{ lazy_load(asset('img/thumbsup.png')) }}  alt="">
                </div>
            </div>
            <div class="advantages__item__part">
                <div class="advantages__item__part__title">
                    Более 500 000
                </div>
                <div class="advantages__item__part__text">
                    довольных клиентов за время работы нашего автосервиса
                </div>
            </div>
        </div>
    </div>
</div>