<div class="baner_kalk_to">
    <div class="calc_to_button_wrapper">
        <a href="/calculator/" class="scroll-to" data-offset="130">
            <i class="fa fa-calculator fa-lg"></i>
            Калькулятор
        </a>
    </div>
</div>