<div class="block_advantages">
    <div class="block_advantages_bg">
      <h2>Преимущества</h2>
      <div class="container container2">
        <div class="row">
          <div class="preimblock-b">
              <img src="https://r-ms.ru/img/advantages/1.png" alt="img">
            <p>Специализированный сервис</p>
            <span>«Мир АКПП» - это сеть специализированных автосервисов в Москве по ремонту и обслуживанию АКПП всех видов.</span>
          </div>
          <div class="preimblock-b">
              <img src="https://r-ms.ru/img/advantages/1.png" alt="img">
            <p>Ремонт АКПП  дешевле, чем у дилеров до 70%.</p>
            <span>Ремонт АКПП  дешевле, чем у дилеров до 70%.</span>
          </div>
          <div class="preimblock-b">
              <img src="https://r-ms.ru/img/advantages/1.png" alt="img">
            <p>Гарантия 2 года</p>
            <span>Для ремонта трансмиссии  мы используем оригинальные комплектующие, поставляемые напрямую с заводов-изготовителей. Каждая деталь подбирается под конкретную модель трансмиссионного устройства.</span>
          </div>
        </div>
      </div>
  </div>
</div>
