<div class="footer">
  <div class="container container2">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
          <div class="footer-logo"><a href="/"><img src="{{ asset('img/logo.png') }}" alt="*"></a></div>
          <div class="footer-copyright">
              © <?= date("Y") ?> Автосервис Mirakpp. <br>
              Все права защищены.
          </div>
      </div>
      <div class="col-lg-3 col-sm-6 footer-menu">
          <a href="#">Техническое обслуживание</a>
          <a href="#">Ремонт ходовой части</a>
          <a href="#">Ремонт двигателя</a>
          <a href="#">Кузовной ремонт</a>
          <a href="#">Покраска</a>
          <a href="#">Аргонная сварка</a>
      </div>
      <div class="col-lg-3 col-sm-6 footer-menu">
          <a href="#">Мойка, химчистка, полировка</a>
          <a href="#">Запчасти</a>
          <a href="#">Диагностика </a>
          <a href="#">Ремонт трансмиссии</a>
          <a href="#">Ремонт рулевого управления</a>
          <a href="#">Ремонт тормозной системы</a>
      </div>
      <div class="col-lg-3 col-sm-6 footer-menu">
          <a href="#">Ремонт топливной системы</a>
          <a href="#">Ремонт системы охлаждения</a>
          <a href="#">Ремонт выхлопной системы</a>
          <a href="#">Ремонт автокондиционеров</a>
          <a href="#">Услуги по шиномонтажу</a>
          <a href="#">Ремонт электрооборудования </a>
      </div>
    </div>
  </div>
</div>
