.model {
    background-color: #f6f7fa;
    width: 99%;
    margin: 2em auto !important;
    padding: 10px;
    @include respond-below(xs) {
        width: 97%;
    }

    .models_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .model_col {
        background-color: #fff;
        margin: 3px;
    }

    .model_cont {
        width: 130px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3px;

        img {
            height: 72px;
            object-fit: contain;
            max-width: 100%;
            @include respond-below(xs) {
                display: none;
            }
        }
    }

    .model-list-header {
        margin-bottom: 50px;
        text-align: center;
        font-weight: 400;
    }

    .top-title {
        color: #838383;
        text-align: center;
        text-transform: uppercase;
    }

    .model_name {
        font-size: 14px;
        font-weight: bold;
    }
}

.model_line {
    text-align: center;
    margin-top: 20px;
}
